{% extends "base.html" %}

{% block title %}Mail - {{ user }}{% endblock title %}

{% block content %}


<div class="container">

    {% if logged_in %}

        <div class="background">
            <div class="mail-position">
                <h1 class="border-line">{{ mail.subject }}<span class="date_span">{{ mail.created.strftime("%d.%m.%Y at %H:%M") }}</span></h1>
                <br>
                <p>From: {{ mail.from_user }}</p>
                <p>To: {{ mail.to }}</p>
                <div class="border-line"></div>
                <br>
                <p>{{ mail.msg }}</p>
            </div>
        </div>

    {% else %}

        <center><h1>Please login</h1></center>

    {% endif %}

</div>

{% endblock content %}
